/* Tablet version */
@media all  and (min-width:768px){
    /* demo */
    #demo .row{
        display: flex;
        flex-wrap: wrap;
    }

    .col-5{
        display: flex;
        width: calc(100% / 3);
        align-items: stretch;
        justify-content: space-between
    }

    .big{
        width: calc((100% / 3) * 2);    
    }

    .col-5-content img{
        max-width: 250px;
    }

    .col-5-content{
        padding: 30px 20px 0;
    }

    .col-5-content a{
        width: 35%
    }
    
   /* plans */



   /* testimonial */

   #testimonial p,
   #testimonial h3{
    padding-left: 30px;
   }

    .col-3{
    margin: 10px 0 20px;
    }

   .col-3-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
   }

   #testimonial .rounded-img img{
    max-width: 100%;
   }
   .col-3-content .text{
    text-align: left;
   }

   .col-3-content img {
    max-width: 100%;
   }

   .flex{
    margin: 0 -10px;
   }

    /*benefit  */
   #benefit .flex{
    display: flex;
    flex-wrap: wrap;
   }

   .col-6{
    width: calc(100% / 2);
    padding: 0 10px;
   }

   /* about us */
   #about-us .row{
    display: flex;
   }

   .col-2-2{
    width: 50%;
   }

   #about-us .rounded-img{
    text-align: center;
   }
   #about-us .rounded-img img{
    max-width: 80%;
   }

   #about-us img{
    text-align: center;
   }

   .quotation-mark{
    top: 10%;
    left: 70%;
   }

   #about-us .text:nth-of-type(1){
    margin-top: 40px;
   }

   #about-us .text:nth-of-type(2){
   margin: 0 25px;
   }

   #about-us a{
    width: 80%;
    }

    #about-us .text{
    line-height: 35px;
    font-size: 18px;
    }
}


/* desktop version */
@media all and (min-width: 1200px){
    .container{
        width: 75vw;
    }
    /* nav */
    #bar-menu{
        display: none;
    }

    #hide{
        display: block;
        display: flex;
    }

    #hide li{
        margin-left:15px;
    }


    /* demo section */
    .col-5-content{
        display: flex;
    }
    #demo a{
        width: 50%;
    }

    /* /* plans */
    #plans .row{
        display: flex;
        flex-wrap: nowrap;
        padding: 50px 30px 30px;
        justify-content: center;
        align-items: flex-end;
    }

    .col-2:first-child{
    max-width: 50%;
    }

    .col-2{
        border: 1px solid black;
        max-width: 100%;
        margin: 0 20px;
    }

    .col-2 h2:first-child{
        margin-top: 100px;
    }

    /* testimonial */
        #testimonial img{
        max-width: 80%;
    }

    #testimonial p,
   #testimonial h3{
    padding-right: 30px;
   }


    .col-3-content{
        padding: 20px 0;
    }

    /* benefit */
    .col-6{
        width: calc(100% / 3);
    }

    #benefit a{
        width: 50%;
    }
}  