/* Tablet version */

@media all  and (min-width:768px){

    .row{
        display: flex;
        flex-wrap: wrap;
    }

    .col-5{
        display: flex;
        width: calc(100% / 3);
        align-items: stretch;
        justify-content: space-between
    }

    .big{
        width: calc((100% / 3) * 2);    
    }

    .col-content img{
        max-width: 250px;
    }

    .col-content{
        padding: 30px 20px 0;
    }

    .col-content a{
        width: 35%
    }
    
}


/* desktop version */

@media all and (min-width: 1400px){

    /* nav */
    #bar-menu{
        display: none;
    }

    #hide{
        display: block;
        display: flex;
    }

    #hide li{
        margin-left:15px;
    }

    /* demo section */
    .col-content{
        display: flex;
    }


    /* /* plans */

    #plans .col-2{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
   
    #plans .row{
        flex-wrap: nowrap;
        padding: 50px 30px 30px;
        justify-content: center;
    }



    .col-2{

        border: 1px solid black;
        max-width: 30%;
        margin: 0 20px;
    }

    .col-2:last-child{
       
    }

    .shrink{
        /* max-width: 100%; */
       
    }
}