/* Tablet version */

@media all  and (min-width:768px){

    .row{
        display: flex;
        flex-wrap: wrap;
    }


    .col-5{
        display: flex;
        width: calc(100% / 3);
        align-items: stretch;

       
    }

    .col-5.big{
        width: calc((100% / 3) * 2);
        
        
    }

    .col-content img{
        max-width: 65%;
    }

}






/* desktop version */

@media all and (min-width: 1400px){

}