/* general style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}


.wrap{
    flex-wrap: wrap;
}

.mt-mb-40-20{
    margin-top: 40px;
    margin-bottom: 20px;
}


.mb-20{
    margin-bottom: 20px;
}

.pr-pl-20{
    padding: 0 20px;
}

/* mobile first */

.nav-color{
    background-color: #0084fd;
}

.container{
    max-width: 80vw;
    border: 1px solid black;
    margin: 0 auto;
}


.nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

a{
    text-decoration: none;
}

nav a,
#demo a{
    color: white;
}

ul{
    list-style: none;
}

#hide{
    display:none

}

.fa-bars{
    font-size: 25px;
}

/* section demo */
.margin{
    margin: 50px -20px;
}

.col-5{
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 0 20px;
}

.col-content{
    background-color: #b5ddff;
    border-radius: 30px;
    padding: 50px 50px 0;
    border: 1px solid black;
}

.col-content a{
    display: block;
    background-color: #0084fd;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    margin: 40px 0;
    text-align: center;
}

.col-content p{
    margin: 20px 0;
}

.col-content img{
    max-width: 100%;

}


.col-content.center{
    text-align: center;
    padding-bottom: 20px;
}


.col-content .fa-file-code,
.col-content .fa-compass-drafting,
.col-content .fa-laptop-code,
.col-content .fa-bullhorn{
    font-size: 60px;
    color: #0084fd;
    padding-bottom: 30px;
    display: block;
    
}

.col-content h2{
    color: #0084fd;
}

/* section plans */

#plans{
    background-color: #9593e6;
}

#plans .row{
    margin-top: 100px;
}

#plans .col-2:first-child{
    color: white;
}


.col-2-content img{
    /* margin: 100px 0; */
    width: 100%;
}


.white-color{
    background-color: #fff;
    border-radius: 30px;
    padding-bottom: 30px;
}

.center{
    text-align: center;
}

#plans a{
    color: black;
    background-color: #0084fd;
    font-size: 15px;
    padding: 15px;
    border-radius: 50%;
    margin: 20px 0;
}

.icons{
    padding:20px 0;
}